$primary: #F7FAFC;
$secondary: #0F2A5C;
$accent: #1AA39A;

// status colors (not in logo, but needed in every app)
$error: #E5484D;
$success: #2BA66B;
$warning: #F5A524;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
}